<h1 class="headline text-center">My Notes</h1>

<div class="container">
  <%if @notes.length <= 0 %>
    <br>
    <p class="text-center">Aww there's nothing here :(
      <br>
      <a href="/notes/new">Create some notes!</a>
    </p>
  <% else %>
    <% @notes.each do |n| %>
      <div class="well">
        <a class="note-link" href="/notes/<%=n.id%>">
          <h3><strong><%= n.title %></strong></h3>
        </a>
        by <%=n.user.name%> on <%= n.created_at.strftime("%b %d %Y at %l:%M %p") %>
        <% if n.whitelist.length > 0 %>
          <%= link_to "Publish", '/publish/' + n.id.to_s, method: :put, class: 'pull-right btn btn-primary'%>
        <% else %>
          <%= link_to "Make Private", '/makeprivate/' + n.id.to_s, method: :put, class: 'pull-right btn btn-warning'%>
        <%end%>
        <br><br>
        <% n.tags.each do |t| %>
          <a class="tag" href="/find/<%=t.id %>">#<%=t.tag_name%></a>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
