<div class="container">
  <div class="page_headline course_headline">
    <div class="row">
      <div class="col-xs-8 head_title">
        <h1>My notes</h1>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="container">
  <%if @notes.length <= 0 %>
    <br>
    <p class="text-center">Aww there's nothing here :(
      <br>
      <a href="/notes/new">Create some notes!</a>
    </p>
  <% else %>
    <% @notes.each do |n| %>
      <%= render "partials/note_preview", locals:  {n:  n, current_user: @current_user} %>
      <div>
        <a href="/notes/<%=n.id%>/edit" class="btn btn-grey">Edit Note</a>
        <%= link_to "Delete Note", note_path(n), method: :delete, class: 'btn-red-sm btn' %>
        <% if n.whitelist.length > 0 %>
          <%= link_to "Publish", '/publish/' + n.id.to_s, method: :put, class: 'pull-right btn btn-red-sm'%>
          <br>
        <% else %>
          <%= link_to "Make Private", '/makeprivate/' + n.id.to_s, method: :put, class: 'pull-right btn btn-grey'%>
          <br>
        <%end%>
      </div>
      <hr>
    <% end %>
    <%= will_paginate @notes %>
  <% end %>
</div>
