<div class="container">
  <h1 class=" text-left fiji-font">CREATE NOTE</h1>
  <br>
  <div class="mary-poppins-font">
    <%= bootstrap_form_for @note do |f| %>
      <%= f.text_field :title, class: 'form-field sign-in-field'%>
      <%= f.text_area :content, :class => "tinymce", :rows => 10, :cols => 100 %>
      <%= tinymce %>
      <%= f.collection_select :course_id, @courses, :id, :name, {:selected => @current_user.default_course_id}, class: 'form-field sign-in-field' %>
      <%= f.text_field :tag_ids, placeholder: "comma-separated tags", class: 'form-field sign-in-field' %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
      <%= f.submit "Save As Draft", class: 'btn btn-red'%>
    <% end %>
  </div>

</div>
