<div class="container page_headline course_headline">
  <div class="col-xs-8 head_title">
    <h1 class="text-center">Create Note</h1>
    <h3><%= @current_user.name %></h3>
  </div>
</div>

<div class="container">
  <%= bootstrap_form_for @note do |f| %>
    <%= f.text_field :title, class: 'form-field sign-in-field'%>
    <%= f.text_area :content, :class => "tinymce", :rows => 10, :cols => 100 %>
    <%= tinymce %>
    <%= f.collection_select :course_id, @courses, :id, :name, {:selected => @current_user.default_course_id}, class: 'form-field sign-in-field' %>
    <%= f.text_field :tag_ids, placeholder: "comma-separated tags", class: 'form-field sign-in-field' %>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.submit "Save As Draft", class: 'btn btn-red'%>
  <% end %>
</div>
