<div class="text-center">
  <h1><%=@note.title%></h1>
  <p>Courtesy of: <a class="profile-link" href="/profile/<%=@note.user.id%>"><%= @note.user.name %></a></p>
</div>

<div class="container">
  <p><%=@note.content.html_safe%></p>
  <% @note.tags.each do |t| %>
    <a href="/find/<%=t.id %>" class="tag">#<%= t.tag_name %></a>
  <% end %>
</div>

<% if @current_user && @current_user.id == @note.user.id %>
  <div class="text-center">
    <a href="/notes/<%=@note.id%>/edit" class="btn btn-info">Edit Note</a>
    <%= link_to "Delete Note", note_path(@note), method: :delete, class: 'btn btn-danger' %>
    <br>
  </div>
<% elsif @current_user %>
  <div class="text-center">
    <%= bootstrap_form_for :favorite do |f| %>
      <%= f.hidden_field :user_id, :value => @current_user.id%>
      <%= f.hidden_field :note_id, :value => @note.id%>
      <%= f.submit "Save Note", class: 'btn btn-success'%>
    <% end %>
  </div>
<%end%>

<br>
<div class="container">
  <%= form_for :comment, :url => {:controller => "comments", :action => "create"}, html:{method:'post'} do |f| %>
    <%= f.text_area :content, class: "my-text-area", placeholder: "Write a comment..." %>
    <% if @current_user %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
    <% end %>
    <%= f.hidden_field :note_id, :value => @note.id %>
    <br>
    <%= f.submit "add comment" %>
  <% end %>

  <br>
  <% @comments.each do |c| %>
    <p><strong><%= c.user.name %></strong> <%=c.content%></p>
    <a href="#">Like </a>
    <a href="#">Dislike </a>
    <a href="#">Reply </a>
    <% if @current_user.id == c.user.id%>
      <%= link_to "Delete", "/comments/" + c.id.to_s, method: :delete%>
    <% end %>
    <p><%= c.created_at.strftime("%b %d %Y at %l:%M %p") %></p>
    <br>
  <% end %>

</div>
