<div class="text-center">
  <h1><%=@note.title%></h1>
  <p>Courtesy of: <a class="profile-link" href="/profile/<%=@note.user.id%>"><%= @note.user.name %></a></p>
</div>

<div class="container">
  <p><%=@note.content.html_safe%></p>
</div>

<% if @current_user && @current_user.id == @note.user.id %>
  <div class="text-center">
    <a href="/notes/<%=@note.id%>/edit" class="btn btn-info">Edit Note</a>
    <%= link_to "Delete Note", note_path(@note), method: :delete, class: 'btn btn-danger' %>
    <br>
    <%= bootstrap_form_for @user do |f| %>
      <%= f.hidden_field :note_id, :value => @note.id %>
      <%= f.primary "Save Note", class: 'btn btn-success'%>
    <% end %>
  </div>
<% else %>
  <div class="text-center">
    <%= bootstrap_form_for @user do |f| %>
      <%= f.hidden_field :note_id, :value => @note.id %>
      <%= f.primary "Save Note", class: 'btn btn-success'%>
    <% end %>
  </div>
<%end%>