<div class="container">
  <div class="page_headline course_headline">
    <div class="row">
      <div class="col-xs-8 head_title">
        <h1>Saved notes</h1>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="container">
  <% @favorites.each do |n| %>
    <% if (n.whitelist.length == 0 || n.whitelist.include?(@current_user.id.to_s))%>
      <div class="note-div">
          <a class="note-link" href="/notes/<%=n.id%>">
            <h3 class="fiji-font"><%= n.title.upcase %></h3>
          </a>
          <p class="fiji-font">by <%=n.user.name%> on <%= n.created_at.strftime("%b %d %Y at %l:%M %p") %></p>
          <br>
          <div class="row preview">
            <p><%= n.content %></p>
            <br>
            <a class="note-link" href="/notes/<%=n.id%>"> <span>Continue reading <i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-10">
              <p class="note-foot">This was posted in <span><%= n.course.code %></span> and tagged with
                <% n.tags.each do |t| %>
                  <a class="tag" href="/find/<%=t.id %>">#<%=t.tag_name%></a>
                <% end %>
              </p>
            </div>
            <div class="col-xs-12 col-sm-2 text-right">
              <%= link_to ('<i class="fa fa-thumbs-up" aria-hidden="true"></i>').html_safe, '/notes/vote/false/'+ n.id.to_s, method: :put, title: "Like", 'data-toggle' => 'tooltip', class: "vote"%>
              <%=n.up_votes.length%>
              &ensp;
              <%= link_to ('<i class="fa fa-thumbs-down" aria-hidden="true"></i> ').html_safe, '/notes/vote/true/'+ n.id.to_s, method: :put, title: 'Dislike', 'data-toggle' => 'tooltip', class: "vote" %>
              <%=n.down_votes.length%>
            </div>
          </div>
      </div>
      <hr>
      <% end%>
    <% end %>
</div>
