<h1 class="text-center">Saved Notes</h1>
<div class="container">

  <% @favorites.each do |n| %>
    <% if (n.whitelist.length == 0 || n.whitelist.include?(@current_user.id.to_s))%>
      <div class="well">
        <a class="note-link" href="/notes/<%=n.id%>">
          <h3><strong><%= n.title %></strong></h3>
        </a>
        by <%=n.user.name%> on <%= n.created_at.strftime("%b %d %Y at %l:%M %p") %>
        <br><br>
        <% n.tags.each do |t| %>
          <a class="tag" href="#">#<%=t.tag_name%></a>
        <% end %>
      </div>
    <% end%>
  <% end %>
</div>
