<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="profile-side-nav text-left">
      <h1 class="fiji-font">MY PROFILE</h1>
      <br>
      <div>
        <% if @current_user.photo == nil %>
          <%= image_tag 'default-user-image.png',  class: 'profile-pic' %>
        <% else %>
          <img src="<%= @current_user.photo %>" class="user-pic">
        <% end%>
        <br><br>
      </div>
      <ul>
        <li><a href="/profile">Profile Info</a></li>
        <li><a href="/notes">My Notes</a></li>
        <li><a href="/favorites">Saved Notes</a></li>
        <% if @current_user.privilege == 2 %>
        <br>
        <p><strong>Admin</strong></p>
        <hr>
        <li><a href="/admin/allusers">All Users</a></li>
        <li><a href="/admin/allnotes">All Notes</a></li>
        <li class="ga-lt-red">All Courses</li>
        <li><a href="/courses/new">Create a Course</a></li>
        <% end %>
      </ul>
      <%= render "partials/badges", locals:  {current_user:  @current_user, public_notes: @public_notes} %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h1 class="fiji-font">ALL COURSES (<%=@courses.length%>)</h1>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Description</th>
          <th># Notes</th>
          <th>GA Course?</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>

        <% @courses.each do |u| %>
          <tr>
            <th scope="row"><a href="/courses/<%=u.id%>"><%=u.name%></a></th>
            <td><%=u.code%></td>
            <td><%=u.description[0..50]%>...</td>
            <td><%=u.notes.length%></td>
            <td><%=u.is_official_course ? "Yes" : "No"%></td>
            <td class="text-center">
              <% if u.notes.length > 0 %>
                <a href="#" class="btn-red-xs btn-custom-xs" data-toggle="tooltip" title="Warning, don't delete courses that have notes!"><i class="fa fa-trash" aria-hidden="true"></i></a>
              <% else %>
                <%= link_to ('<i class="fa fa-trash" aria-hidden="true"></i>').html_safe, '/courses/'+ u.id.to_s, method: :delete, title: "Warning, don't delete courses that have notes!", 'data-toggle' => 'tooltip', class: "btn-red-xs btn-custom-xs"%>
              <% end %>

            </td>
            <td class="text-center">
              <a class="btn-grey btn-custom-xs" href="/courses/<%=u.id%>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
