<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="profile-side-nav text-left">
      <h1 class="fiji-font">MY PROFILE</h1>
      <br>
      <div>
        <% if @current_user.photo == nil %>
          <%= image_tag 'default-user-image.png',  class: 'profile-pic' %>
        <% else %>
          <img src="<%= @current_user.photo %>" class="user-pic">
        <% end%>
        <br><br>
      </div>
      <ul>
        <li><a href="/profile">Profile Info</a></li>
        <li><a href="/notes">My Notes</a></li>
        <li><a href="/favorites">Saved Notes</a></li>
        <br>
        <p><strong>Achievements</strong></p>
        <hr>
        <%= render "partials/badges", locals:  {current_user:  @current_user, public_notes: @public_notes} %>
        <% if @current_user.privilege == 2 %>
        <br>
        <p><strong>Admin</strong></p>
        <hr>
        <li><a href="/admin/allusers">All Users</a></li>
        <li class="ga-lt-red">All Notes</li>
        <li><a href="/admin/allcourses">All Courses</a></li>
        <li><a href="/courses/new">Create a Course</a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h1 class="fiji-font">ALL NOTES (<%=@notes.length%>)</h1>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Title</th>
          <th><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
          <th><i class="fa fa-thumbs-down" aria-hidden="true"></i></th>
          <th>Author</th>
          <th>Course</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Type</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>

        <% @notes.each do |u| %>
          <tr>
            <th scope="row"><%=u.id%></th>
            <td><a class="note-link" href="/notes/<%=u.id%>"><%=u.title%></a></td>
            <td><%=u.up_votes.length%></td>
            <td><%=u.down_votes.length%></td>
            <td><%=u.user.name%></td>
            <td><%=u.course.code%></td>
            <td><%=u.created_at.strftime("%b %d %Y")%></td>
            <td><%=u.updated_at.strftime("%b %d %Y")%></td>
            <% if u.whitelist.length > 1 %>
              <td><%=@typeMap[2]%></td>
            <% else %>
              <td><%=@typeMap[u.whitelist.length]%></td>
            <% end %>
            <td class="text-center">
              <%= link_to ('<i class="fa fa-trash" aria-hidden="true"></i>').html_safe, note_path(u), method: :delete, class: 'btn-red-xs btn-custom-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
