<h1 class="text-center">All Users</h1>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Status</th>
      <th>Name</th>
      <th>Email</th>
      <th>Points</th>
      <th>Privileges</th>
      <th># Notes</th>
      <th># Comments</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>

    <% @users.each do |u| %>
      <tr class="<%= u.is_active ? '' : 'deactivated' %>">
        <th scope="row"><%=u.id%></th>
        <td>
          <% if u.is_active %>
            Active
          <% else %>
            Deactivated
          <% end %>
        </td>
        <td>
          <a class="note-link" href="/profile/<%=u.id%>">
            <% if u.id == @current_user.id %>
              <%=u.name%> <strong class="me"><i class="fa fa-user-circle-o" aria-hidden="true"></i> (me)</strong>
            <% else %>
              <%=u.name%>
            <% end %>
          </a>
        </td>
        <td><%=u.email%></td>
        <td><%=u.points%></td>
        <td>
          <% if @current_user.id != u.id %>
            <%= bootstrap_form_for u, :url => "/admin/privilege/" + u.id.to_s, :method => :put do |f| %>
              <%= f.collection_select :privilege, @privileges, :id, :name, {:selected => u.privilege} %>
              <%= f.submit "Update", class: 'btn-xs btn-info'%>
            <% end %>
          <% else %>
            <%=@privileges[u.privilege-1][:name]%>
          <% end %>

        </td>
        <td><%=u.notes.length%></td>
        <td><%=u.comments.length%></td>
        <td>
          <% if u.id != @current_user.id %>
            <% if u.is_active %>
              <%= link_to ('Deactivate User <i class="fa fa-user-times" aria-hidden="true"></i>').html_safe, "/admin/deactivate/" + u.id.to_s, method: :put, class: 'btn-sm btn-danger' %>
            <% else %>
              <%= link_to ('Activate User <i class="fa fa-user-plus" aria-hidden="true"></i>').html_safe, "/admin/deactivate/" + u.id.to_s, method: :put, class: 'btn-sm btn-danger' %>
            <% end %>

          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
