<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="profile-side-nav text-left">
      <h1 class="fiji-font">MY PROFILE</h1>
      <br>
      <div>
        <% if @current_user.photo == nil %>
          <%= image_tag 'default-user-image.png',  class: 'profile-pic' %>
        <% else %>
          <img src="<%= @current_user.photo %>" class="user-pic">
        <% end%>
        <br><br>
      </div>
      <ul>
        <li><a href="/profile">Profile Info</a></li>
        <li><a href="/notes">My Notes</a></li>
        <li><a href="/favorites">Saved Notes</a></li>
        <br>
        <p><strong>Achievements</strong></p>
        <hr>
        <%= render "partials/badges", locals:  {current_user:  @current_user, public_notes: @public_notes} %>
        <% if @current_user.privilege == 2 %>
        <br>
        <p><strong>Admin</strong></p>
        <hr>
        <li class="ga-lt-red">All Users</li>
        <li><a href="/admin/allnotes">All Notes</a></li>
        <li><a href="/admin/allcourses">All Courses</a></li>
        <li><a href="/courses/new">Create a Course</a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h1 class="fiji-font">ALL USERS (<%=@users.length%>)</h1>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Status</th>
          <th>Name</th>
          <th>Email</th>
          <th>Points</th>
          <th>Privilege</th>
          <th># Notes</th>
          <th># Comments</th>
          <th>Activate/Deactivate</th>
        </tr>
      </thead>
      <tbody>

        <% @users.each do |u| %>
          <tr class="<%= u.is_active ? '' : 'deactivated' %>">
            <th scope="row"><%=u.id%></th>
            <td>
              <% if u.is_active %>
                Active
              <% else %>
                Deactivated
              <% end %>
            </td>
            <td>
              <a class="note-link" href="/profile/<%=u.id%>">
                <% if u.id == @current_user.id %>
                  <%=u.name%> (me)
                <% else %>
                  <%=u.name%>
                <% end %>
              </a>
            </td>
            <td><%=u.email%></td>
            <td class="text-center"><%=u.points%></td>
            <td class="text-center">
              <% if @current_user.id != u.id %>
                <%= bootstrap_form_for u, :url => "/admin/privilege/" + u.id.to_s, class: 'form-inline', :method => :put do |f| %>
                  <%= f.collection_select :privilege, @privileges, :id, :name, {:selected => u.privilege, :hide_label => true}, class: 'admin-select' %>
                  <%= f.submit "Update", class: 'btn-grey btn-custom-xs'%>
                <% end %>
              <% else %>
                <%=@privileges[u.privilege-1][:name]%>
              <% end %>
            </td>
            <td class="text-center"><%=u.notes.length%></td>
            <td class="text-center"><%=u.comments.length%></td>
            <td class="text-center">
              <% if u.id != @current_user.id %>
                <% if u.is_active %>
                  <%= link_to ('Deactivate').html_safe, "/admin/deactivate/" + u.id.to_s, method: :put, class: 'btn-red-xs btn-custom-xs' %>
                <% else %>
                  <%= link_to ('Activate').html_safe, "/admin/deactivate/" + u.id.to_s, method: :put, class: 'btn-red-xs btn-custom-xs' %>
                <% end %>

              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
