<nav class="navbar navbar-inverse">
  <div>
    <div class="navbar-header">
      <% if not @current_user %>
        <a class="navbar-brand" href="/">
          <%= image_tag 'ga-logo.png', class: 'ga-logo'%>
        </a>
      <% else %>
        <a class="navbar-brand" href="/">
          <%= image_tag 'ga-logo.png', class: 'ga-logo'%>
        </a>
      <% end %>

    </div>
    <ul class="nav navbar-nav pull-right">
      <li class="dropdown">
        <a href="/courses">Courses
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% @courses.each do |c| %>
            <% if c.is_official_course %>
              <li><a href="/courses/<%=c.id%>"><%= c.code %></a></li>
            <% end %>
          <% end %>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/courses">Other Topics
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% @courses.each do |c| %>
            <% if !c.is_official_course %>
              <li><a href="/courses/<%=c.id%>"><%= c.code %></a></li>
            <% end %>
          <% end %>
        </ul>
      </li>
      <% if @current_user %>
        <li class="dropdown">
          <a href="/profile"><i class="fa fa-cog" aria-hidden="true"></i>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">My Profile
              <% if @current_user.privilege == 2 %>
                &emsp;<i class="fa fa-user-plus" aria-hidden="true"></i>
              <% end %>
            </a></li>
            <li><a href="/notes">My Notes</a></li>
            <li><a href="/favorites">Saved Notes</a></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
        </li>
        <li><a href="/notes/new">Create Note</a></li>
      <% else %>
        <li><a href="/login">Sign In</a></li>
      <% end %>
    </ul>
  </div>
</nav>
