<h1 class="text-center">My Profile</h1>
<br>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= bootstrap_form_for :user do |f| %>
        <%= f.text_field :name%>
        <%= f.email_field :email%>
        <p><strong>Password: </strong>************</p>
        <!-- <%= f.password_field :password_digest %> -->
        <%= f.collection_select :location_id, @locations, :id, :name %>
        <%= f.collection_select :default_course_id, @courses, :id, :name %>
        <p><strong>Privileges: </strong><%= @current_user.privilege %></p>
        <p><strong>Points: </strong><%= @current_user.points %></p>
        <%= f.submit "Save", class: 'btn default-btn'%>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="text-center">
        <%= image_tag 'default-user-image.png',  class: 'profile-pic' %>
        <br><br>
        <button class="btn btn-info">Change Profile Pic</button>
      </div>
    </div>
  </div>
</div>
