  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="profile-side-nav text-left">
        <h1 class="fiji-font">MY PROFILE</h1>
        <br>
        <div>
          <% if @current_user.photo == nil %>
            <%= image_tag 'default-user-image.png',  class: 'profile-pic' %>
          <% else %>
            <img src="<%= @current_user.photo %>" class="user-pic">
          <% end%>
          <br><br>
        </div>
        <ul>
          <li class="ga-lt-red">Profile Info</li>
          <li><a href="/notes">My Notes</a></li>
          <li><a href="/favorites">Saved Notes</a></li>
          <br>
          <%= render "partials/badges", locals:  {current_user:  @current_user, public_notes: @public_notes} %>
          <% if @current_user.privilege == 2 %>
          <br>
          <p><strong>Admin</strong></p>
          <hr>
          <li><a href="/admin/allusers">All Users</a></li>
          <li><a href="/admin/allnotes">All Notes</a></li>
          <li><a href="/admin/allcourses">All Courses</a></li>
          <li><a href="/courses/new">Create a Course</a></li>
          <% end %>
        </ul>
      </div>
    </div>


    <div class="col-xs-12 col-sm-8">
      <h1 class="fiji-font">PROFILE INFO</h1>
      <div class="row">
        <div class="col-xs-10">
          <%= bootstrap_form_for :user do |f| %>
            <div class="account-well">
              <p><strong>Name & Email</strong></p>
              <%= f.text_field :name, class: 'form-field sign-in-field', placeholder: "Your name"%>
              <%= f.email_field :email, class: 'form-field sign-in-field', placeholder: "Your email"%>
            </div>
            <br>
            <div class="account-well">
              <p><strong>Change Password</strong></p>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <%= f.password_field :password_digest_new, label: 'New Password', class: 'form-field sign-in-field', placeholder: "New password"%>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <%= f.password_field :password_digest_check, label: 'Password confirmation', class: 'form-field sign-in-field', placeholder: "Confirm New Password"%>
                </div>
              </div>
            </div>
            <br>
            <div class="account-well">
              <p><strong>About Me</strong></p>
              <%= f.collection_select :location_id, @locations, :id, :name, class: 'options' %>
              <%= f.collection_select :default_course_id, @courses, :id, :name %>
              <%= f.text_field :photo, class: 'form-field sign-in-field', placeholder: "Enter a valid URL" %>
            </div>
            <br>
            <div class="account-well">
              <p><strong>Other Info</strong></p>
              <p><small>Privilege: <%= @privilegeMap[@current_user.privilege] %></small></p>
              <p><small>Points: <%= @current_user.points %></small></p>
            </div>
            <br>
            <div class="account-well">
              <%= f.password_field :password_digest_current, label: 'Enter current password to save changes to your profile.', class: 'form-field sign-in-field', placeholder: "Current Password"%>
              <%= f.submit "Save Changes", class: 'btn btn-red'%>
            </div>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
