<div class="container">
  <div class="col-xs-8 col-xs-offset-2 text-left">
  <h1 class="fiji">CREATE ACCOUNT</h1>
    <div class="sign-in">
    <%= bootstrap_form_for :user do |p| %>
      <%= p.text_field :name, placeholder: "Enter your name", class: 'form-field' %>
      <%= p.email_field :email, placeholder: "Enter your email", class: 'form-field'  %>
      <%= p.password_field :password, placeholder: "Enter your password", class: 'form-field'  %>
      <%= p.collection_select :default_course_id, @courses, :id, :name %>
      <%= p.collection_select :location_id, @locations, :id, :name %>
      <%= p.primary "Submit", class: 'btn btn-red-sign' %>
    <% end %>
    </div>
  </div>
</div>