<div class="container">
  <div class="page_headline course_headline">
    <div class="row">
      <div class="col-xs-12 head_title">
        <h2><%= @user.name %>'s Profile</h2>
        <h3><%= @user.is_active ? '' : '(deactivated)' %></h3>
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4><strong>Location: </strong><%= @location.name %></h4>
      <h4><strong>Course: </strong><%= @course.name %> (<%= @course.code %>)</h4>
      <h4><strong>Privileges: </strong><%= @user.privilege %></h4>
      <h4><strong>Points: </strong><%= @user.points %></h4>
      <%= render "partials/badges", locals:  {current_user:  @user, public_notes: @public_notes} %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="text-center">
        <% if @user.photo == nil %>
          <%= image_tag 'default-user-image.png',  class: 'profile-pic' %>
        <% else %>
          <img src="<%= @user.photo %>" class="user-pic">
        <% end%>
        <br><br>
      </div>
    </div>
  </div>
  <% @user.notes.each do |n| %>
    <% if (n.whitelist.length == 0 || n.whitelist.include?(@current_user.id.to_s))%>
      <%= render "partials/note_preview", locals:  {n:  n} %>
      <hr>
    <% end%>

  <% end %>
</div>
