<div class="container page_headline course_headline">
  <div class="col-xs-8 head_title">
    <h1 class="text-center">Viewing <%= @user.name %></h1>
    <h3><%= @user.is_active ? '' : '(deactivated)' %></h3>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4><strong>Location: </strong><%= @location.name %></h4>
      <h4><strong>Course: </strong><%= @course.name %> (<%= @course.code %>)</h4>
      <h4><strong>Privileges: </strong><%= @user.privilege %></h4>
      <h4><strong>Points: </strong><%= @user.points %></h4>
        <div class="row badges">
          <div class="well col-xs-3">
            <%= image_tag 'boulder.png', class: 'badgers img-responsive', title: "Boulder Badge! Gained for signing up!", 'data-toggle' => 'tooltip'%>
          </div>
          <div class="well col-xs-3">
            <% if @public_notes.length >= 1%>
              <%= image_tag 'cascade.png', class: 'badgers img-responsive', title: "Cascade Badge! Gained for creating a post!", 'data-toggle' => 'tooltip'%>
            <% end %>
          </div>
          <div class="well col-xs-3">
            <% if @user.comments.length >= 1 && @public_notes.length >= 1 %>
              <%= image_tag 'thunder.png', class: 'badgers img-responsive', title: "Thunder Badge! Gained for posting a comment.", 'data-toggle' => 'tooltip'%>
            <% end %>
          </div>
          <div class="well col-xs-3">
            <% if @user.comments.length >= 10 && @public_notes.length >= 1%>
              <%= image_tag 'rainbow.png', class: 'badgers img-responsive', title: "Rainbow Badge! Gained by posting 10 comments", 'data-toggle' => 'tooltip'%>
            <% end %>
          </div>
        </div>
        <div class='row badges'>
          <div class="well col-xs-3">
            <% if @user.comments.length >= 10 && @public_notes.length >= 5%>
              <%= image_tag 'marsh.png', class: 'badgers img-responsive', title: "Marsh Badge! 10 comments, 5 posts.", 'data-toggle' => 'tooltip'%>
            <%end%>
          </div>
          <div class="well col-xs-3">
            <% if @user.comments.length >= 20 && @public_notes.length >= 10%>
              <%= image_tag 'soul.png', class: 'badgers img-responsive', title: "Soul Badge! 20 comments, 10 posts.", 'data-toggle' => 'tooltip'%>
            <%end%>
          </div>
          <div class="well col-xs-3">
            <% if @user.comments.length >= 40 && @public_notes.length >= 20%>
              <%= image_tag 'earth.png', class: 'badgers img-responsive', title: "Earth Badge! 40 comments, 20 posts.", 'data-toggle' => 'tooltip'%>
            <%end%>
          </div>
          <div class="well col-xs-3">
            <% if @user.comments.length >= 80 && @public_notes.length >= 40%>
              <%= image_tag 'volcano.png', class: 'badgers img-responsive', title: "Volcano Badge! 80 comments, 40 posts.", 'data-toggle' => 'tooltip'%>
            <%end%>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="text-center">
        <% if @user.photo == nil %>
          <%= image_tag 'default-user-image.png',  class: 'profile-pic' %>
        <% else %>
          <img src="<%= @user.photo %>">
        <% end%>
        <br><br>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% @user.notes.each do |n| %>
    <% if (n.whitelist.length == 0 || n.whitelist.include?(@current_user.id.to_s))%>
      <a class="note-link" href="/notes/<%=n.id%>">
        <h4><strong><%= n.title %></strong> by <%=n.user.name%> on <%= n.created_at.strftime("%b %d %Y at %l:%M %p") %></h4>
      </a>
      <div class="row">
        <div class="col-xs-12 col-sm-10">
          <% n.tags.each do |t| %>
            <a class="tag" href="/find/<%=t.id %>">#<%=t.tag_name%></a>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-2 text-right">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <%=n.up_votes.length%>
          &ensp;
          <i class="fa fa-male" aria-hidden="true"></i>
          <%=n.down_votes.length%>
        </div>
      </div>
    <% end%>
    <hr>
  <% end %>
</div>
