<h1 class="text-center">Edit Course</h1>

<div class="container">
  <%= bootstrap_form_for :course, :method => 'put' do |f|%>
    <%= f.text_field :name%>
    <%= f.text_field :code%>
    <%= f.text_area :description, class: 'my-text-area' %>
    <%= f.submit "Submit", class: 'btn default-btn' %>
  <% end %>
</div>
