<div class="container">
  <div class="page_headline course_headline">
    <div class="col-xs-8 head_title">
      <h1 class="text-center">FIRE UP</h1>
      <h3><%="Find your next great note in our global community." %></h3>
      <br>
    </div>
    <div class="col-xs-4">
      <div class="desc_container">
        <h5 class="mary-poppins-font"><strong>Pick your poison</strong></h5>
        <p><small>Browse notes by course title or topic!</small></p>
        <a href="#pop-tags-id" class="red-link">View Popular Tags</a>
      </div>
    </div>
  </div>
</div>

<div class="all-courses">
  <br>
  <h1 class="text-center mary-poppins-font" style="letter-spacing:0.7px;font-weight:700">Start Learning</h1>
  <div class="container">
    <div class="course-title">
      <span>
        Courses
      </span>
    </div>
    <br>
    <div class="text-center">
      <div class="row">
        <% @courses.each do |c| %>
          <% if c.is_official_course %>
            <%= render "partials/course_well", locals:  {c:  c} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="course-title">
      <span>
        Other Topics
      </span>
    </div>
    <br>
    <div class="text-center">
      <div class="row">
        <% @courses.each do |c| %>
          <% if !c.is_official_course %>
            <%= render "partials/course_well", locals:  {c:  c} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="pop-tags-id" class="pop-tags">
  <br>
  <h1 class="text-center mary-poppins-font" style="letter-spacing:0.7px;font-weight:700">Browse By Popular Tags</h1>
  <br>
  <div class="container text-center">
      <% @tags.each do |t| %>
        <div class="col-xs-4">
          <a class="course-link" href="/find/<%=t.id %>">
              <div class="tag">
                <h3><strong>#<%= t.tag_name %></strong></h3>
              </div>
          </a>
        </div>
      <% end %>
  </div>
</div>
