<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1 class="text-left fiji-font">NEW COURSE</h1>
      <div class="sign-in">
        <%= bootstrap_form_for @course do |f| %>
          <%= f.text_field :name, class: 'form-field sign-in-field', placeholder: "Course Name"%>
          <%= f.text_field :code, class: 'form-field sign-in-field', placeholder: "Course Code" %>
          <%= f.text_area :description, class: 'my-text-area form-field sign-in-field', rows: "5", placeholder:"Course Description" %>
          <%= f.check_box :is_official_course, label: "This is an official GA course"%>
          <%= f.submit "Create course", class: 'btn btn-red-sign'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
