<div class="container page_headline course_headline">
  <div class="col-xs-8 head_title">
    <h1 class="text-center">Viewing notes for <%= @course.code %></h1>
    <h3><%= @course.description %></h3>
  </div>
</div>
<div class="container">
  <% if @notes.length <= 0 %>
    <br>
    <p class="text-center">Aww there's no notes for <strong><%=@course.name%></strong>, yet!</p>
  <%else%>
    <% @notes.each do |n| %>
      <% if (n.whitelist.length == 0 || n.whitelist.include?(@current_user.id.to_s))%>
        <div class="col-xs-9 col-xs-offset-1">
          <a class="note-link" href="/notes/<%=n.id%>">
            <h3><strong><%= n.title.upcase %></strong></h3>
          </a>
          by <%=n.user.name%> on <%= n.created_at.strftime("%b %d %Y at %l:%M %p") %>
          <br>
          <div class="row preview">
            <p><%= n.content %></p>
            <a class="note-link" href="/notes/<%=n.id%>"> <span>Continue reading <i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-10">
            <p class="note-foot">This was posted in <span><%= @course.code %></span> and tagged with 
              <% n.tags.each do |t| %>
                <a class="tag" href="/find/<%=t.id %>">#<%=t.tag_name%></a>
              <% end %>
            </div>
            <div class="col-xs-12 col-sm-2 text-right">
              <%= link_to ('<i class="fa fa-thumbs-up" aria-hidden="true"></i>').html_safe, '/notes/vote/false/'+ n.id.to_s, method: :put, title: "Like", 'data-toggle' => 'tooltip', class: "vote"%>
              <%=n.up_votes.length%>
              &ensp;
              <%= link_to ('<i class="fa fa-thumbs-down" aria-hidden="true"></i> ').html_safe, '/notes/vote/true/'+ n.id.to_s, method: :put, title: 'Dislike', 'data-toggle' => 'tooltip', class: "vote" %>
              <%=n.down_votes.length%>
            </div>
            </p>
          </div>
          <hr>
        </div>
      <% end %>
    <% end %>
  <%end%>
</div>
