<h1 class="text-center">Viewing notes for <%= @course.code %></h1>

<div class="container">
  <% @notes.each do |n| %>
    <% if (n.whitelist.length == 0 || n.whitelist.include?(@current_user.id.to_s))%>
      <div class="well">
        <a class="note-link" href="/notes/<%=n.id%>">
          <h3><strong><%= n.title %></strong></h3>
        </a>
        by <%=n.user.name%> on <%= n.created_at.strftime("%b %d %Y at %l:%M %p") %>

        <br><br>
        <div class="row">
          <div class="col-xs-12 col-sm-10">
            <% n.tags.each do |t| %>
              <a class="tag" href="/find/<%=t.id %>">#<%=t.tag_name%></a>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-2 text-right">
            <%= link_to ('<i class="fa fa-envelope" aria-hidden="true"></i>').html_safe, '/notes/vote/false/'+ n.id.to_s, method: :put, title: "Like", 'data-toggle' => 'tooltip'%>
            <%=n.up_votes.length%>
            &ensp;
            <%= link_to ('<i class="fa fa-male" aria-hidden="true"></i> ').html_safe, '/notes/vote/true/'+ n.id.to_s, method: :put, title: 'I suck', 'data-toggle' => 'tooltip' %>
            <%=n.down_votes.length%>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
