<div class="container">
  <div class="page_headline course_headline">
    <div class="row">
      <div class="col-xs-8 head_title">
        <h1><%= @course.name.upcase %></h1>
        <h3><%= @course.description %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <hr class="hr-gray">
      </div>
    </div>
  </div>

<div class="row">
  <!-- @notes should be all notes that are public -->
  <div class="col-xs-12 col-sm-9">
    <% if @notes.length <= 0 %>
      <br>
      <p class="text-center">Aww there's no notes for <strong><%=@course.name%></strong>, yet!</p>
    <%else%>
      <% @notes.each do |n| %>
        <% if (n.whitelist.length == 0)%>
          <%= render "partials/note_preview", locals:  {n:  n} %>
          <hr class="hr-gray">
        <% end %>
      <% end %>
    <%end%>
  </div>
  <div class="col-xs-12 col-sm-3">
    <h3 class="tag-sidebar-title">SEARCH BY TAGS</h3>
    <% @tags.each do |t| %>
      <div class="tag-sidebar">
        <a class="tag-link" href="/find/<%=t.id %>">
          <h5>#<%= t.tag_name %>(<%= t.notes.length%>)</h5>
        </a>
      </div>
    <% end %>
  </div>
</div>
</div>
